<Router AppAssembly="typeof(AdminApp).Assembly">
<Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                You are not authorized.
            </NotAuthorized>
            <Authorizing>
                Authorizing in process...
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3>Not Found</h3>
            <p>Sorry, the content you are looking for does not exist.</p>
        </LayoutView>
    </NotFound>
</Router>
